body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* 设置高度为视口高度 */
    display: grid;
    /* 使用 grid 布局 */
    grid-template-rows: 1fr auto;
    /* 第一行占用所有可用空间，第二行自动适应内容高度 */
}

#gantt_view {
    width: 100%;
    overflow: auto;
}

#footer {
    width: 100%;
    /*设置固定高度*/
    height: 30px;
    background-color: #ccc;
    /* 设置背景色以区分 footer */
}